__pycache__/
.fabric/
.vscode/
libraries/
logs/
mods/
versions/
world/
banned-ips.json
banned-players.json
config.json
devil_lock.txt
eula.txt
fabricloader.log
ops.json
server.jar
server.properties
test.py
usercache.json
whitelist.json
start.py
test.json